*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
   } 

   #menu-h {
    list-style-type: none;
    padding: 0px;
    background-color: rgb(72, 64, 64);
    
   }
   #menu-h li a :hover{
    color: #656529;
    position:relative ;
    text-shadow: 1px 1px 2px #656529;
    text-decoration: none;
    padding: 20px;
    display: inline-block;

   }
   #menu-h li{
    display: inline;
   }
  